body{
    background-color: black;
    color: white;
    font-family: "Times New Roman";
}
.assignment{
    display: flex;
    background-color: midnightblue;
    padding: 10px;
    margin: 10px;
}
a{
    color: white;
}